.topbar {
   width: 100%;
   height: 65px;
   background-color: white;
   position: sticky;
   top: 0;

   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
   z-index: 999;
}

.topbar-wrapper {
   height: 100%;
   padding: 0px 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   font-weight: bold;
   font-size: 30px;
   color: darkblue;
   cursor: pointer;
}

.top-right {
   display: flex;
}

.topbar-icons {
   position: relative;
   margin: 8px;
   cursor: pointer;
   color: #555;
}

.top-icons-badge {
   width: 15px;
   height: 15px;
   font-size: 10px;

   position: absolute;
   top: -5px;
   right: 0;
   background-color: red;
   color: white;
   border-radius: 50%;

   display: flex;
   align-items: center;
   justify-content: center;
}

.top-avatar {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   object-fit: cover;
   margin-left: 20px;
}
